{% if page.tags contains 'angular' %}

<h3> Recommended Angular Courses Online </h3>

<ul>
<li>
<a rel="nofollow sponsored" href="https://click.linksynergy.com/link?id=yuBxKU0YCR8&offerid=507388.2066851&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Fcourse%2Fstarting-with-angular-7%2F">Starting with Angular 7</a></li>

<li>
<a rel="nofollow sponsored" href="https://click.linksynergy.com/link?id=yuBxKU0YCR8&offerid=507388.2175308&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Fcourse%2Fa-quick-guide-to-angular-7-in-4-hours%2F">A Quick Guide to Angular 7 in 4 Hours</a></li>

<li>
<a rel="nofollow sponsored" href="https://click.linksynergy.com/link?id=yuBxKU0YCR8&offerid=507388.1629114&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Fcourse%2Flearn-typescript-for-angular-development%2F">Learn TypeScript for Angular Development</a></li>

<li>
<a rel="nofollow sponsored" href="https://click.linksynergy.com/link?id=yuBxKU0YCR8&offerid=507388.2195180&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Fcourse%2Fmaster-in-angular-and-nodejs-by-building-a-mean-stack-app%2F">Learn and Understand Angular and NodeJS- A Developers Course</a></li>

</ul>

{% endif %}
