           <div class="related-posts">
                <br>
                <h2 style="color:aliceblue; background-color:darkblue; padding: 10px;">Popular React Tutorials</h2>
                <a href="https://www.techiediaries.com/react-ionic-axios-tutorial/">Ionic 4 React Tutorial: Build a Mobile App with Ionic 4, Axios and React</a></br>
                <a href="https://www.techiediaries.com/react-context-api-tutorial/">React 16.3 New Context API Tutorial</a></br>
                <a href="https://www.techiediaries.com/php-react-rest-api-crud-tutorial/">PHP, MySQL & React REST API Tutorial with Example Form <a/></br>
                <a href="https://www.techiediaries.com/react-setstate/">Understanding React setState()</a></br>
                <a href="https://www.techiediaries.com/react-router-dom-v4/">React Router 4 Tutorial (with Examples)</a></br>
                <a href="https://www.techiediaries.com/react-routing-tutorial/">React Routing Tutorial: Using React Router 4</a></br>
                <a href="https://www.techiediaries.com/react-bootstrap/">React Bootstrap Tutorial: Integrating Bootstrap 4 with React</a></br>
                <a href="https://www.techiediaries.com/redux-tutorial/">Redux Tutorial</a></br>
                <a href="https://www.techiediaries.com/react-usestate-hook/">The useState React Hook by Example</a></br>
                <a href="https://www.techiediaries.com/react-hooks/">React 16.7 Hooks Tutorial</a></br>
                <a href="https://www.techiediaries.com/react-router-redux-tutorial/">React Router Redux Tutorial</a></br>
                <a href="https://www.techiediaries.com/react-tutorial/">React Tutorial: The Basics</a></br>    
                <a href="https://www.techiediaries.com/react-ajax/">Ajax API Calls in React</a></br>
            </div>
            <div class="related-posts">
                <br>
                <h2 style="color:aliceblue; background-color:darkblue; padding: 10px;">Popular Ionic Tutorials</h2>
                <a href="https://www.techiediaries.com/react-ionic-axios-tutorial/">Ionic 4 React Tutorial: Build a Mobile App with Ionic 4, Axios and React</a></br>
                <a href="https://www.techiediaries.com/ionic-angular-typeorm-custom-webpack-configuration/">Build a CRM App with Ionic 4/Angular and TypeORM: Custom Webpack Configuration [Part 1]</a></br>
                <a href="https://www.techiediaries.com/ionic-formdata-multiple-file-upload-tutorial/">Multiple Image/File Upload with Django, Ionic 4 and FormData</a></br>
                <a href="https://www.techiediaries.com/ionic-ui-forms-theming/">Ionic 4 Forms Tutorial: Login & Register UI Example with Theming</a></br>
                <a href="https://www.techiediaries.com/ionic-jwt-authentication-httpclient/">Ionic 4 JWT Authentication Tutorial: Using Angular HttpClient with Node & Express.js Server</a></br>
                <a href="https://www.techiediaries.com/ionic-tutorial/">Ionic 4 Tutorial: Your First Ionic/Angular v4 Application</a></br>
                <a href="https://www.techiediaries.com/ionic-2-navigation/">Ionic 4/Angular Routing and Navigation Tutorial & Examples</a></br>
                <a href="https://www.techiediaries.com/ionic-http-post/">Ionic 4/Angular Http POST by Example</a></br>       
                <a href="https://www.techiediaries.com/access-update-parent-state-child-component-react/">
                    Access & Update Parent State from Child Components in React
                </a></br>       
                     
            </div>
            <div class="related-posts">
                <br>
                <h2 style="color:aliceblue; background-color:darkblue; padding: 10px;">Popular PHP Tutorials</h2>
                <a href="https://www.techiediaries.com/php-react-rest-api-crud-tutorial/">
                    PHP, MySQL & React REST API Tutorial with Example Form
                </a></br>
                <a href="https://www.techiediaries.com/php-pdo-mysqli-create-mysql-database-table/">
                    Create PHP 7 MySQL Database Tables Using MySQLi & PDO
                </a></br>
                <a href="https://www.techiediaries.com/php-pdo-crud-tutorial/">
                    PHP PDO Tutorial: CRUD Example with MySQL                
                </a></br>
                <a href="https://www.techiediaries.com/laravel-tutorial-rest-crud-api-models-relationships/">
                Laravel 5.8 REST API CRUD Tutorial
                </a></br>
                <a href="https://www.techiediaries.com/php-laravel-crud-mysql-tutorial/">
                    Laravel 5.8 Tutorial
                </a></br>
                <a href="https://www.techiediaries.com/php-rest-api/">
                    PHP 7 Tutorial with MySQL: CRUD REST API                
                </a></br>
                <a href="https://www.techiediaries.com/php-vuejs/">
                    Using Vue.js in PHP Tutorial
                </a></br>                     
            </div>
            <div class="related-posts">
                <br>
                <h2 style="color:aliceblue; background-color:darkblue; padding: 10px;">Popular Django Tutorials</h2>
                <a href="https://www.techiediaries.com/django-tutorial/">
                    Django 2 Tutorial
                </a></br>   
                <a href="https://www.techiediaries.com/django-cors/">
                    Django CORS
                </a></br>   
                <a href="https://www.techiediaries.com/python-electron-tutorial/">
                    Using Electron with Python
                </a></br>   
                <a href="https://www.techiediaries.com/django-form-bootstrap/">
                    Django & Bootstrap 4 Form
                </a></br>   
                <a href="https://www.techiediaries.com/django-crud-generic-views/">
                    Django CRUD with Generic Views
                </a></br>                   
            </div>                
            <div>
                <br>
                <h2 style="color:aliceblue; background-color:darkblue; padding: 10px;">SUBSCRIBE</h2>
                <!--<div class="privy-embed-form" data-campaign="681455"></div>-->
                                <!-- Begin Mailchimp Signup Form -->
                
                                {% include subscribe.html %}
                                

                                
                                <!--End mc_embed_signup-->


            </div>
            <div id="search-searchbar">

            </div>
            <div id="search-hits">

            </div>