<header class="navbar navbar-toggleable-md navbar-light bg-white  mediumnavigation" style="background-color: #55acee;">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">

        <!-- Begin Logo -->
        <a class="navbar-brand" href="https://www.techiediaries.com/">
            Techiediaries
        </a>


        <!-- End Logo -->

        <!-- Begin Menu -->
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <!-- Begin Menu -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">                
                    <a class="nav-link" href="/write-for-us">Write for us</a>
                </li>
                <li class="nav-item">                
                    <a class="nav-link" href="/hire-us">Hire us!</a>
                </li>
                
                <li class="nav-item active">                
                <a class="nav-link" href="https://www.techiediaries.com/topics/laravel/">Laravel</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="https://www.techiediaries.com/topics/java/">Java</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/ionic">Ionic</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/angular">Angular</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/react">React</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/vuejs">Vue</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/django">Django</a>
                </li>
                
            </ul>
        </div>
        <!-- End Menu -->

    </div>
</header>