<div class="alertbar">
    <div class="container text-center">
        <!--<img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{site.title}}">-->&nbsp; Subscribe to our newsletter or just
        <a href="#" id="closeBtn">close</a>
        <form action="https://techiediaries.us17.list-manage.com/subscribe/post?u=444ae13ce2d2ced511cf9d19b&amp;id=dcd51aa7a0&SIGNUP={{page.tags | join: "
            , " }}" method="post" name="mc-embedded-subscribe-form" class="wj-contact-form validate" target="_blank" novalidate>
            <div class="mc-field-group">
                <input type="email" placeholder="Email" name="EMAIL" class="required email" id="mce-EMAIL" autocomplete="on">
                <input type="submit" value="Subscribe" name="subscribe" class="heart">
            </div>
        </form>
    </div>
</div>