<header class="navbar navbar-toggleable-md navbar-light bg-white  mediumnavigation" style="background-color: #55acee;">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">

        <!-- Begin Logo -->
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
        </a>
        <h1 style="font-family:Righteous;font-size:18px;">{{ site.name }}</h1>

        <!-- End Logo -->

        <!-- Begin Menu -->
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <!-- Begin Menu -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">                
                    <a class="nav-link" href="https://www.techiediaries.com/write-for-us/">Write for us</a>
                </li>
                <li class="nav-item">                
                    <a class="nav-link" href="https://www.techiediaries.com/hire-us/">Hire us!</a>
                </li>
                
                <li class="nav-item active">                
                <a class="nav-link" href="https://www.techiediaries.com/topics/laravel/">Laravel</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="https://www.techiediaries.com/topics/java/">Java</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="https://www.techiediaries.com/ionic/">Ionic</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.techiediaries.com/angular/">Angular</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.techiediaries.com/react/">React</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.techiediaries.com/vuejs/">Vue</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.techiediaries.com/django/">Django</a>
                </li>
                
            </ul>
        </div>
        <!-- End Menu -->

    </div>
</header>