<header class="navbar navbar-toggleable-md navbar-light bg-white  mediumnavigation" style="background-color: #55acee;">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">

        <!-- Begin Logo -->
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
        </a>
        <h1 style="font-family:Righteous;font-size:18px;">{{ site.name }}</h1>

        <!-- End Logo -->

        <!-- Begin Menu -->
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <!-- Begin Menu -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">                
                <a class="nav-link" href="https://www.techiediaries.com/css/">CSS</a>
                </li>                
                <li class="nav-item active">                
                <a class="nav-link" href="https://www.techiediaries.com/laravel-8/">Laravel 8</a>
                </li>



                <li class="nav-item active">
                    <a class="nav-link" href="https://www.techiediaries.com/ionic/">Ionic 5</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.techiediaries.com/angular-10/">Angular 10</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.techiediaries.com/react/">React</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.techiediaries.com/vue-3/">Vue 3</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.techiediaries.com/django/">Django 3</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.techiediaries.com/blazor/">Blazor</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.techiediaries.com/javascript/">JavaScript</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.techiediaries.com/git/">Git & GitHub</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="https://www.techiediaries.com/bootstrap-5/">Bootstrap 5</a>
                </li>

                
                
            </ul>
        </div>
        <!-- End Menu -->

    </div>
</header>