<!--<div id="mc_embed_signup">
    <form action="https://techiediaries.us17.list-manage.com/subscribe/post?u=444ae13ce2d2ced511cf9d19b&amp;id=dcd51aa7a0" method="post"
        id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">Get new Angular 7 tutorials</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_444ae13ce2d2ced511cf9d19b_dcd51aa7a0" tabindex="-1" value="">
            </div>
            <div class="clear">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
        </div>
    </form>
</div>-->
{% if page.tags contains 'noangular' %}


<div class="parent-wrapper">
    <!--<img src="https://www.techiediaries.com/angular-book.png"/>-->
  <div class="subscribe-wrapper">
    <p>Get our <b>Learn Angular 8 in 15 Easy Steps</b> ebook plus a new Angular 8 tutorial every 3 days.</p>
    
    
    <form action="https://techiediaries.us17.list-manage.com/subscribe/post?u=444ae13ce2d2ced511cf9d19b&amp;id=dcd51aa7a0" method="post"
    id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

    <input id="mce-EMAIL" type="email" name="EMAIL" class="subscribe-input" placeholder="Your e-mail">
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_444ae13ce2d2ced511cf9d19b_dcd51aa7a0" tabindex="-1" value="">
  </div>      
    <input class="submit-btn" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </form>
  </div>
</div>

{% endif %}

{% if page.tags contains 'react' %}

<div class="parent-wrapper">
    <span class="close-btn glyphicon glyphicon-remove"></span>
    <div class="subscribe-wrapper">
      <p>Receive new React tutorials.</p>
      <form action="https://techiediaries.us17.list-manage.com/subscribe/post?u=444ae13ce2d2ced511cf9d19b&amp;id=747d3ea3b2" method="post"
      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <input id="mce-EMAIL" type="email" name="EMAIL" class="subscribe-input" placeholder="Your e-mail">
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_444ae13ce2d2ced511cf9d19b_dcd51aa7a0" tabindex="-1" value="">
    </div>      
      <input class="submit-btn" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </form>
    </div>
  </div>

{% endif %}

{% if page.tags contains 'vuejs' %}

<div class="parent-wrapper">
    <span class="close-btn glyphicon glyphicon-remove"></span>
    <div class="subscribe-wrapper">
      <p>Receive new Vue tutorials.</p>
      <form action="https://techiediaries.us17.list-manage.com/subscribe/post?u=444ae13ce2d2ced511cf9d19b&amp;id=af9198d1f9" method="post"
      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <input id="mce-EMAIL" type="email" name="EMAIL" class="subscribe-input" placeholder="Your e-mail">
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_444ae13ce2d2ced511cf9d19b_dcd51aa7a0" tabindex="-1" value="">
    </div>      
      <input class="submit-btn" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </form>
    </div>
  </div>

{% endif %}

{% if page.tags contains 'ionic' %}

<div class="parent-wrapper">
    <span class="close-btn glyphicon glyphicon-remove"></span>
    <div class="subscribe-wrapper">
      <p>Receive new Ionic 4 tutorials.</p>
      <form action="https://techiediaries.us17.list-manage.com/subscribe/post?u=444ae13ce2d2ced511cf9d19b&amp;id=7c0578b5a5" method="post"
      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <input id="mce-EMAIL" type="email" name="EMAIL" class="subscribe-input" placeholder="Your e-mail">
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_444ae13ce2d2ced511cf9d19b_dcd51aa7a0" tabindex="-1" value="">
    </div>      
      <input class="submit-btn" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </form>
    </div>
  </div>

{% endif %}

{% if page.tags contains 'laravel' %}

<div class="parent-wrapper">
    <span class="close-btn glyphicon glyphicon-remove"></span>
    <div class="subscribe-wrapper">
      <p>Receive new Laravel tutorials.</p>
      <form action="https://techiediaries.us17.list-manage.com/subscribe/post?u=444ae13ce2d2ced511cf9d19b&amp;id=f0359169d4" method="post"
      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <input id="mce-EMAIL" type="email" name="EMAIL" class="subscribe-input" placeholder="Your e-mail">
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_444ae13ce2d2ced511cf9d19b_dcd51aa7a0" tabindex="-1" value="">
    </div>      
      <input class="submit-btn" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </form>
    </div>
  </div>

{% endif %}

{% if page.tags contains 'php' %}

<div class="parent-wrapper">
    <span class="close-btn glyphicon glyphicon-remove"></span>
    <div class="subscribe-wrapper">
      <p>Receive new PHP tutorials.</p>
      <form action="https://techiediaries.us17.list-manage.com/subscribe/post?u=444ae13ce2d2ced511cf9d19b&amp;id=22976f9357" method="post"
      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <input id="mce-EMAIL" type="email" name="EMAIL" class="subscribe-input" placeholder="Your e-mail">
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_444ae13ce2d2ced511cf9d19b_dcd51aa7a0" tabindex="-1" value="">
    </div>      
      <input class="submit-btn" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </form>
    </div>
  </div>

{% endif %}

{% if page.tags contains 'django' %}

<div class="parent-wrapper">
    <span class="close-btn glyphicon glyphicon-remove"></span>
    <div class="subscribe-wrapper">
      <p>Receive new Django tutorials.</p>
      <form action="https://techiediaries.us17.list-manage.com/subscribe/post?u=444ae13ce2d2ced511cf9d19b&amp;id=576fb8f4bd" method="post"
      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <input id="mce-EMAIL" type="email" name="EMAIL" class="subscribe-input" placeholder="Your e-mail">
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_444ae13ce2d2ced511cf9d19b_dcd51aa7a0" tabindex="-1" value="">
    </div>      
      <input class="submit-btn" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </form>
    </div>
  </div>

{% endif %}

{% if page.tags contains 'python' %}

<div class="parent-wrapper">
    <span class="close-btn glyphicon glyphicon-remove"></span>
    <div class="subscribe-wrapper">
      <p>Receive new Python tutorials.</p>
      <form action="https://techiediaries.us17.list-manage.com/subscribe/post?u=444ae13ce2d2ced511cf9d19b&amp;id=03ce63ad97" method="post"
      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <input id="mce-EMAIL" type="email" name="EMAIL" class="subscribe-input" placeholder="Your e-mail">
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_444ae13ce2d2ced511cf9d19b_dcd51aa7a0" tabindex="-1" value="">
    </div>      
      <input class="submit-btn" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </form>
    </div>
  </div>

{% endif %}

{% if page.tags contains 'typescript' %}

<div class="parent-wrapper">
    <span class="close-btn glyphicon glyphicon-remove"></span>
    <div class="subscribe-wrapper">
      <p>Receive new TypeScript tutorials.</p>
      <form action="https://techiediaries.us17.list-manage.com/subscribe/post?u=444ae13ce2d2ced511cf9d19b&amp;id=7cd5838f78" method="post"
      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <input id="mce-EMAIL" type="email" name="EMAIL" class="subscribe-input" placeholder="Your e-mail">
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_444ae13ce2d2ced511cf9d19b_dcd51aa7a0" tabindex="-1" value="">
    </div>      
      <input class="submit-btn" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </form>
    </div>
  </div>

{% endif %}

{% if page.tags contains 'javascript' %}

<div class="parent-wrapper">
    <span class="close-btn glyphicon glyphicon-remove"></span>
    <div class="subscribe-wrapper">
      <p>Receive new JavaScript tutorials.</p>
      <form action="https://techiediaries.us17.list-manage.com/subscribe/post?u=444ae13ce2d2ced511cf9d19b&amp;id=01c706251f" method="post"
      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <input id="mce-EMAIL" type="email" name="EMAIL" class="subscribe-input" placeholder="Your e-mail">
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_444ae13ce2d2ced511cf9d19b_dcd51aa7a0" tabindex="-1" value="">
    </div>      
      <input class="submit-btn" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </form>
    </div>
  </div>

{% endif %}

{% if page.tags contains 'flutter' %}

<div class="parent-wrapper">
    <span class="close-btn glyphicon glyphicon-remove"></span>
    <div class="subscribe-wrapper">
      <p>Receive new Flutter tutorials.</p>
      <form action="https://techiediaries.us17.list-manage.com/subscribe/post?u=444ae13ce2d2ced511cf9d19b&amp;id=729a571954" method="post"
      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <input id="mce-EMAIL" type="email" name="EMAIL" class="subscribe-input" placeholder="Your e-mail">
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_444ae13ce2d2ced511cf9d19b_dcd51aa7a0" tabindex="-1" value="">
    </div>      
      <input class="submit-btn" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </form>
    </div>
  </div>

{% endif %}

{% if page.tags contains 'nodejs' %}

<div class="parent-wrapper">
    <span class="close-btn glyphicon glyphicon-remove"></span>
    <div class="subscribe-wrapper">
      <p>Receive new NodeJS tutorials.</p>
      <form action="https://techiediaries.us17.list-manage.com/subscribe/post?u=444ae13ce2d2ced511cf9d19b&amp;id=c713e903da" method="post"
      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <input id="mce-EMAIL" type="email" name="EMAIL" class="subscribe-input" placeholder="Your e-mail">
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_444ae13ce2d2ced511cf9d19b_dcd51aa7a0" tabindex="-1" value="">
    </div>      
      <input class="submit-btn" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </form>
    </div>
  </div>

{% endif %}