---
layout: default
title: Archive
tag: ""
---

<!-- Begin List Posts
================================================== -->
<section class="recent-posts">
  <div class="section-title">
    <h2> <span>{{ page.title }}</span></h2>
  </div>

  {{content}}

  <div class="masonrygrid row listrecent">


    {% for post in site.posts %}
    {% if post.tags contains page.tag %}
    <!-- begin post -->
    {% assign author = site.authors[post.author] %}

    <h2>{{ post.title }}</h2>
    <p>
      {{ post.excerpt | strip_html }}
    </p>
    <span class="post-date">{{ post.date | date_to_string }}</span>
    <a href="{{ post.url | absolute_url }}">Read article</a>

    <!-- end post -->

    {% endif %}
    {% endfor %}


  </div>
</section>