---
layout: nil
---

<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
{% include author-css.html %}
{% include carboncss.html %}

</head>
    
{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{ layout }}">

    {% include analytics.html %}
    {% include buysellad.html %}
    
    {% comment %}
     {% include fb.html %}
    {% endcomment %}
    
    {% include header.html %}

<div class="site-content">   
<div class="container">
    
<div class="main-content">
    {{ content }}
</div>


{% comment %}

{% include footeralertbar.html %}

{% endcomment %}

{% include footer.html %}


</div>  
</div>     

{% include disqusscript.html %}
{% comment %}

{% include mailchimpscript.html %}
{% include adsense.html %}

{% endcomment %}


{% include sw.html %}


<div id = 'vdo_ai_div'></div><script>(function(v,d,o,ai){ai=d.createElement('script');ai.defer=true;ai.async=true;ai.src=v.location.protocol+o;d.head.appendChild(ai);})(window, document, '//a.vdo.ai/core/techiediaries/vdo.ai.js');</script>  

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js"></script>

{% include buysellad2.html %}

<script>window.upsettings = {'api_key': 'ATZgQDLY9DQqfGjaFpbRTWNMZoy22xTK3XubUrGkWxBrx2CpikcFmFcA4pd4'}</script><script>(function(){var w=window;var up=w.Upscribe;if(typeof up==="function"){up('reattach_activator');up('update',upsettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Upscribe=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://upscri.be/js/snippet.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if( w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

</body>
</html>
