---
layout: nil
---

<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
{% include author-css.html %}
{% include carboncss.html %}
<script type="text/javascript" src="//services.vlitag.com/adv1/?q=0a80b1e7ef0002b550332fc47c621415" defer="" async=""></script><script> var vitag = vitag || {};</script>
<!-- End Valueimpression Head Script -->

</head>
    
{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{ layout }}">

    {% include analytics.html %}
    
    
    {% comment %}
    {% include buysellad.html %}
    
     {% include fb.html %}
    {% endcomment %}
    
    {% include header.html %}

<div class="site-content">   
<div class="container">
    
<div class="main-content">
    {{ content }}
</div>


{% comment %}

{% include footeralertbar.html %}

{% endcomment %}

{% include footer.html %}


</div>  
</div>     

{% include disqusscript.html %}
{% comment %}

{% include mailchimpscript.html %}
{% include adsense.html %}

{% endcomment %}


{% include sw.html %}




<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js"></script>


{% comment %}    
{% include buysellad2.html %}
{% endcomment %}
    
<script data-ad-client="ca-pub-9293763250492023" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script>window.upsettings = {'api_key': 'ATZgQDLY9DQqfGjaFpbRTWNMZoy22xTK3XubUrGkWxBrx2CpikcFmFcA4pd4'}</script><script>(function(){var w=window;var up=w.Upscribe;if(typeof up==="function"){up('reattach_activator');up('update',upsettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Upscribe=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://upscri.be/js/snippet.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if( w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "d8e7877e21754ca6b47584df4057ae3c"}'></script>
<!-- End Cloudflare Web Analytics -->
    
</body>
</html>
