---
layout: mydefault
disqus: false
archive: false
post_class: post-template
---

<div class="container">
    <div id="main-content" class="row main">


        <div class="mainheading col-xs-12 col-md-12">


            <!-- Post Title -->
            <h1 class="posttitle">{{ page.title }}</h1>

            {% if page.author %}
            {% assign author = site.authors[page.author] %}

            {% else %}
            {% assign author = site.authors["ahmed"] %}
            {% endif %}

            <p>Author: {{author.display_name}}</p>
            <!-- Post Date -->
            <p>
                <small>
                    <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">
                            {{page.date | date_to_string }}</time></span>
                    {% if page.last_modified_at %}
                    (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{
                        page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                    {% endif %}
                </small>
            </p>
        </div>
        <div id="content" class="col-xs-12 col-md-8 content">


            <!-- Post Featured Image -->
            {% if page.img %}
            <img class="featured-image img-fluid" src="{{page.img}}" alt="{{ page.title }}">

            {% endif %}

            <!-- End Featured Image -->


            <!-- Post Content -->

            <div class="article-post">
                <div style="margin: 10px;" id="share">
                    <ul class="rrssb-buttons">
                        <li> <a title="Share on Twitter"
                                href="https://twitter.com/intent/tweet?text={{page.title}}"
                                target="_blank" rel="noopener"> <svg title="Twitter" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 28 28">
                                    <path fill="var(--twitter)"
                                        d="M24.3 8.8c.4 8.3-6 15.4-14.3 15.8a15 15 0 0 1-9-2.3c2.8.2 5.5-.6 7.6-2.3A5.4 5.4 0 0 1 4 16.3c1 .2 1.7 0 2.5 0A5.4 5.4 0 0 1 2 11a5.4 5.4 0 0 0 2.3.5 5.4 5.4 0 0 1-1.4-7A15 15 0 0 0 13.7 10a5.2 5.2 0 0 1 3.4-6.4 5.2 5.2 0 0 1 5.6 1.7A9 9 0 0 0 26 4a5 5 0 0 1-2.3 3 9 9 0 0 0 3-1 5 5 0 0 1-2.4 2.8z" />
                                </svg> </a></li>
                        <li> <a title="Share on Facebook"
                                href="https://www.facebook.com/sharer/sharer.php?u={{page.link}}"
                                target="_blank" rel="noopener"> <svg title="Facebook" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 29 29">
                                    <path fill="var(--fb)"
                                        d="M26.4 0H2.6C1.6 0 0 1.7 0 2.6v23.8c0 1 1.7 2.6 2.6 2.6H15V18h-4v-4h4v-3c0-3.8 2.8-6 6.2-6 1.6 0 2.4 0 2.8.2V9h-2.8c-1.8 0-2.2 1-2.2 2.2V14h5l-.6 4H19v11h7.4c1 0 2.6-1.7 2.6-2.6V2.6c0-1-1.7-2.6-2.6-2.6z" />
                                </svg> </a></li>
                        <li> <a title="Share on Reddit"
                                href="http://www.reddit.com/submit?url={{page.link}}&title={{page.title}}"
                                target="_blank" rel="noopener"> <svg title="Reddit" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 28 28">
                                    <path fill="var(--reddit)"
                                        d="M11.8 15.3c0-1-.8-2-2-2-1 0-1.8 1-1.8 2s1 2 2 2 1.8-1 1.8-2zm6.3-2c-1 0-1.8 1-1.8 2s1 2 2 2 1.8-1 1.8-2-1-2-2-2zm-.5 6.5c-.7.7-1.8 1-3.5 1s-3-.3-3.5-1a.7.7 0 0 0-1 0c-.2.3-.2.7 0 1 1 1 2.4 1.4 4.5 1.4 2 0 3.5-.5 4.5-1.4a.7.7 0 0 0 0-1c-.3-.3-.7-.3-1 0z" />
                                    <path fill="var(--reddit)"
                                        d="M27.7 13.3a3.2 3.2 0 0 0-3.2-3.3c-.8 0-1.5.3-2 .8-2-1.3-4.8-2-7.5-2.2L16.4 4l4 .8c.2 1.4 1.4 2.6 2.8 2.6A2.7 2.7 0 0 0 26 4.7C26 3.2 24.6 2 23 2c-1 0-2 .6-2.4 1.5l-4.7-1a.7.7 0 0 0-.7.4l-1.7 5.6c-3 0-6 .8-8 2.2-.6-.5-1.3-.8-2-.8-2 0-3.3 1.5-3.3 3.2 0 1 .6 2 1.4 2.7v.7c0 2.4 1.2 4.5 3.6 6C7.6 24 10.6 24.8 14 25c3 0 6.2-1 8.5-2.4 2.4-1.5 3.7-3.6 3.7-6V16c1-.5 1.5-1.6 1.5-2.7zm-4.5-10c.7 0 1.3.7 1.3 1.4a1.3 1.3 0 0 1-2.7 0c0-.7.6-1.3 1.4-1.3zm-21.6 10c0-1 1-2 2-2l.8.3c-1 1-1.8 2-2.2 3-.4-.4-.6-.8-.6-1.3zm20.2 8.3c-2 1.3-5 2-8 2-2.8 0-5.6-.7-7.7-2-2-1.3-3-3-3-4.8C3 15 4 13.3 6 12c2.2-1.4 5-2 8-2s5.6.6 7.7 2c2 1.3 3 3 3 4.8.2 1.8-1 3.5-3 4.8zm4-7c-.4-1-1.2-2-2.3-3l1-.2c1 0 2 .8 2 2a2 2 0 0 1-.7 1.2z" />
                                </svg> </a></li>
                        <li> <a title="Share on Hacker News"
                                href="https://news.ycombinator.com/submitlink?u={{page.link}}"
                                target="_blank" rel="noopener"> <svg title="Hacker News" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 28 28">
                                    <path fill="var(--h-news)" d="M14 13.6L9.5 4.4h-3L13 16.6v7h2.5v-7l6-12.2h-2.6z" />
                                </svg> </a></li>
                    </ul>

                </div>


                {{content}}
                </hr>
                <blockquote>
                    <b>Note</b>: We also publish our tutorials on <a
                        href="https://medium.com/techiediaries-com">Medium</a> and <a
                        href="https://dev.to/techiediaries">DEV.to</a>. If you prefer reading in these platforms, you
                    can follow us there to get our newest articles.

                </blockquote>
                </hr>

                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed"
                    data-ad-client="ca-pub-9293763250492023" data-ad-slot="9249041598"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>

            </div>

            <hr />

        </div>
        <div class="col-xs-12 col-md-4">
            <div style="margin-top:10px;">
                <p style="padding: 10px;">Sponsored Links</p>



            </div>
            <!-- Ezoic - topsidebar - sidebar -->
            <div id="ezoic-pub-ad-placeholder-159"></div>
            <!-- End Ezoic - topsidebar - sidebar -->


            <!-- Ezoic - middlesidebar - sidebar_middle -->
            <div id="ezoic-pub-ad-placeholder-160"></div>
            <!-- End Ezoic - middlesidebar - sidebar_middle -->


            <div id="stickybar">

                {% include social.html %}

                <div class="g-ytsubscribe" data-channelid="UCgQpmtmgBgYxn03Vcf6r7aQ" data-layout="full"
                    data-count="hidden"></div>
                <p>Get our Angular 2+ posts in your inbox</p>


                <form
                    action="https://techiediaries.us17.list-manage.com/subscribe/post?u=444ae13ce2d2ced511cf9d19b&amp;id=dcd51aa7a0"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                    target="_blank" novalidate>

                    <input id="mce-EMAIL" type="email" name="EMAIL" class="subscribe-input" placeholder="Your e-mail">
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_444ae13ce2d2ced511cf9d19b_dcd51aa7a0" tabindex="-1" value="">
                    </div>
                    <input class="submit-btn" type="submit" value="Subscribe" name="subscribe"
                        id="mc-embedded-subscribe" class="button">
                </form>

            </div>
        </div>
    </div>
    <!-- End Post -->

</div>
</div>
<!-- End Article
================================================== -->
<div class="row mb-5">
    <div class="col-md-8">
        <p>Get our books</p>
        <ul>
            <li><a href="https://www.techiediaries.com/angular-book-build-your-first-web-apps/">Practical Angular: Build
                    your first web apps with Angular 8</a></li>
            <li><a href="https://www.techiediaries.com/react-native-for-beginners-book/">React Native for Beginners
                    [2019]</a></li>


        </ul>
    </div>
</div>


<a href="//www.dmca.com/Protection/Status.aspx?ID=dfbd6797-0920-4722-a279-1be28f0f669f"
    title="DMCA.com Protection Status" class="dmca-badge"> <img
        src="https://images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=dfbd6797-0920-4722-a279-1be28f0f669f"
        alt="DMCA.com Protection Status" /></a>
<script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>