---
layout: mydefault
disqus: false
archive: false
post_class: post-template
---

<div class="container">
    <div id="main-content" class="row main">


        <div class="mainheading col-xs-12 col-md-12">


            <!-- Post Title -->
            <h1 class="posttitle" style="color:#55acee;">{{ page.title }}</h1>

        </div>
        <div id="content" class="col-xs-12 col-md-8 content">


            <!-- Post Featured Image -->
            {% if page.img %}
            <img class="featured-image img-fluid" src="{{page.img}}" alt="{{ page.title }}">

            {% endif %}

            <!-- End Featured Image -->


            <!-- Post Content -->

            <div class="article-post">
                <div style="margin: 10px;" id="share">

                </div>


                {% include subscribe.html %}



                {{content}}
                </hr>
                <blockquote>
                    <b>Note</b>: We also publish our tutorials on <a
                        href="https://medium.com/techiediaries-com">Medium</a> and <a
                        href="https://dev.to/techiediaries">DEV.to</a>. If you prefer reading in these platforms, you
                    can follow us there to get our newest articles.

                </blockquote>
                </hr>



                {% include author-widget.html %}

                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed"
                    data-ad-client="ca-pub-9293763250492023" data-ad-slot="9249041598"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>

            </div>

            <!-- Post Date -->
            <p>
                <small>
                    <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">
                            {{page.date | date_to_string }}</time></span>
                    {% if page.last_modified_at %}
                    (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{
                        page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                    {% endif %}
                </small>
            </p>


            <!-- Post Categories -->

            <!-- End Categories -->
            <!-- Author Box -->

            <!-- Prev/Next -->
            <div class="row PageNavigation">
                {% if page.previous.url %}
                <a class="btn btn-primary" href="{{page.previous.url | absolute_url}}">&laquo;
                    Previous </a>
                {% endif %}
                {% if page.next.url %}
                <a class="btn btn-primary" href="{{page.next.url | absolute_url}}">Next</a>
                {% endif %}
            </div>

            <hr />

        </div>
        <div class="col-xs-12 col-md-4 col-xs-offset-1">
            <div>

                <!--<img src="https://www.techiediaries.com/angular-book3d.png" />-->



            </div>
            <div>
                
                {% comment  %}
                {% include topics.html %}
                {% endcomment  %}

            </div>
            <div class="related-posts">
                <br>
                <h2 style="color:aliceblue; background-color:darkblue; padding: 10px;">RELATED TUTORIALS</h2>

                {% include related.html %}
            </div>

            <!-- Ezoic - middlesidead - sidebar_middle -->
            <div id="ezoic-pub-ad-placeholder-154"></div>
            <!-- End Ezoic - middlesidead - sidebar_middle -->
            <div>
                <div>
                    <br>

                    {% include youtube.html %}

                </div>
                <div style="margin-top:10px;">
                </div>



                <div id="stickybar">

                    {% include social.html %}

                    <div class="g-ytsubscribe" data-channelid="UCgQpmtmgBgYxn03Vcf6r7aQ" data-layout="full"
                        data-count="hidden"></div>
                        <p>Get our Angular posts in your inbox</p>


                        <form
                            action="https://techiediaries.us17.list-manage.com/subscribe/post?u=444ae13ce2d2ced511cf9d19b&amp;id=dcd51aa7a0"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                            target="_blank" novalidate>
        
                            <input id="mce-EMAIL" type="email" name="EMAIL" class="subscribe-input" placeholder="Your e-mail">
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="b_444ae13ce2d2ced511cf9d19b_dcd51aa7a0" tabindex="-1" value="">
                            </div>
                            <input class="submit-btn" type="submit" value="Subscribe" name="subscribe"
                                id="mc-embedded-subscribe" class="button">
                        </form>

                </div>
            </div>
        </div>
        <!-- End Post -->

    </div>
</div>
<!-- End Article
================================================== -->
<div class="row mb-5">
    <div class="col-md-8">
        <h2>Get our books</h2>
        <ul>
            <li><a href="https://www.techiediaries.com/angular-book-build-your-first-web-apps/">Practical Angular: Build
                    your first web apps with Angular 8</a></li>
            <li><a href="https://www.techiediaries.com/react-native-for-beginners-book/">React Native for Beginners
                    [2019]</a></li>


        </ul>
    </div>
</div>


<a href="//www.dmca.com/Protection/Status.aspx?ID=dfbd6797-0920-4722-a279-1be28f0f669f"
    title="DMCA.com Protection Status" class="dmca-badge"> <img
        src="https://images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=dfbd6797-0920-4722-a279-1be28f0f669f"
        alt="DMCA.com Protection Status" /></a>
<script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
